body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
    background: skyblue;
}

section {
    margin-bottom: 2rem;
}

.project {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

#about img {
    max-width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 1rem;
}
